<p>temp-conponent works!</p>

<div class="container">
  <div class="row">
    <div class="card">
      <div class="card-heading">Convert Temp</div>
      <div class="card-body">
        <div class="row">
          <div class="col-md-6">
            <div class="form-group">
              <label for="temp">Enter Temp in C</label>
              <input type="text" class="form-control" [(ngModel)]="celsius" />
              {{ celsius | convertTemp : "F" }}
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <label for="temp">Temp</label>
              <input
                type="text"
                class="form-control"
                [(ngModel)]="Fahrenheit"
              />
              {{ Fahrenheit | convertTemp : "F" }}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
